body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    position:unset;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main{
    height: fit-content;
    width: 100%;
    margin-top: 48px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#center{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p{
    width: fit-content;
    font-size: 20px;
    background-color: rgb(151, 23, 23);
    color: white;
    text-align: center;
    line-height: 30px;
    padding-left: 3px;
    padding-right: 3px;
}

main p1{
    margin-top: 24px;
    width: 720px;
    font-size: 20px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 30px;
    padding-left: 3px;
    padding-right: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/************************************************************MAIN PAGE**************************************************************/
#start-img{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    width: 20%;
    height: auto;
}

#start-img img{
    width: 100%;
    height: 100%;
}

#why-sana{
    width: 20%;
    position: absolute;
    right: 16%;
    top: 150px;
}

#check-out{
    width: 300px;
    position: absolute;
    left: 2.5%;
    top: calc(33vw*0.55);
    margin-top: 250px;
}

#arrow {
    position: absolute;
    right:11%;
    top: 200px;
    width: 5.35%;
    height: 140px;
}
  
#curve {
    border: 2px solid #BE5F4B;
    border-color: transparent #BE5F4B transparent transparent;
    height: 100%;
    width: 100%;
    border-radius: 23% 77% 0% 100% / 30% 100% 0% 70%;
}
  
#point {
    position: absolute;
    left: 100%;
    top: 100%;
}
  
#point:before, #point:after{
    border: 1px solid #BE5F4B;
    height: 20px;
    content: "";
    position: absolute;
}
  
#point:before {
    top: -17px;
    left: -7px;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
  
#point:after {
    top: -20px;
    left: 7px;
    transform:rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform:rotate(20deg);
    -ms-transform: rotate(20deg);
}

#sana-video{
    position: absolute;
    right: 40px;
    top: 360px;
    width: 33%;
    height: calc(33vw * 9/16);
}

#arrow1 {
    position: absolute;
    left:3%;
    top: calc(33vw*0.15);
    margin-top: 220px;
    width: 5%;
    height: calc(33vw*0.4);
}
  
#curve1 {
    border: 2px solid #BE5F4B;
    border-color: transparent transparent transparent #BE5F4B;
    height: 100%;
    width: 100%;
    border-radius: 51% 49% 48% 52% / 100% 100% 0% 0%;
}
  
#point1 {
    position: absolute;
    left: 63%;
    top: 0px;
}

#point1:before, #point1:after {
    border: 1px solid #BE5F4B;
    height: 15px;
    content: "";
    position: absolute;
}
  
#point1:before {
    top: -2px;
    left: -10px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform: rotate(45deg);
}
  
#point1:after {
    top: -12px;
    left: -11px;
    transform:rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform:rotate(-60deg);
    -ms-transform: rotate(-60deg);
}

#check-out-gif{
    position: absolute;
    left: 7%;
    top: 220px;
    width: 28%;
    height: calc(width*9/16);
}

#check-out-gif img{
    width: 100%;
    height: 100%;
}

/*********************************************************CODE PAGE (and scientific)*******************************************************/
main ul{
    width: 90%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

main li img{
    width: 500px;
}

main li p{
    width: 500px;
}

main li img:hover{
    margin-top: -10px;
}

p1 ul{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

p1 .wake-main{
    width: 720px;
}

/*********************************************************HOBBY PAGES*******************************************************/
#left-menu{
    position: fixed;
    height: 100%;
    width: 50px;
    top:48px;
    left:0px;
    background-color: rgb(26, 26, 26);
    display: flex;
    margin:0;
    transition: 0.4s;
}

#left-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#left-menu li{
    margin-top: 20px;
}

#left-menu a{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: white;
    height: 40px;
}

#left-menu a:hover{
    transition: 0.4s;
    background-color: rgb(151, 23, 23);
    width:146px;
}

#left-menu img{
    width: 40px;
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
}

#left-menu p{
    white-space: nowrap;
    display:flex;
    font-size: 20px;
}

#java-img img{
    height: 416px;
    margin-top: 48px;
}

#references{
    margin-top: 30px;
}

#references a{
    font-size: 24px;
    color: black;
}

/*********************************************************NAVIGATION MENU*******************************************************/
nav{
    height: 48px;
    width: 100%;
    background: rgb(26, 26, 26);
    position: fixed;
    top: 0px;
    z-index: 100;
    margin: 0;
    font-family: fantasy;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

#logo-img img{
    height: 48px;
    padding-right: 50px;
}

#logo-img a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
    display: flex;
    cursor: pointer;
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 10px;
    cursor: default;
    display: flex;
    justify-content: center;
}

nav i{
    position: absolute;
    right: 4px;
}

#search{
    position: relative;
    display: flex;
    align-items: center;
    color:rgb(255, 255, 255);
    z-index: 2;
}

#CVstuff,
#hobby{
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 150px;
    background-color: rgb(151, 23, 23);
    color:rgb(255, 255, 255);
    z-index: 3;
}

#CVstuff{
    left: 30.75%;
}

#hobby{
    left: 61.5%;
}

#search .fa-search{
    position: absolute;
    left: -27px;
    background-color: white;
    color:rgb(26, 26, 26);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    padding-left: 3px;
}

#search input{
    height: 22px;
    width: 100%;
    border: none;
}

#search input:focus{
    outline: none;
}

/*******************************************************NAVIGATION MENUS***********************************************************/
#work-menu{
    left:30.75%;
    display: none;
}

#hobby-menu{
    left:61.5%;
    display: none;
}

.slide-out-menu{
    transition: 0.4s;
    width: 150px;
    height: auto;
    position: fixed;
    top:32px;
}

.slide-out-menu a{
    width: 150px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.slide-out-menu ul{
    list-style: none;
    position:fixed;
    display: flex;
    flex-direction: column;
}

.slide-out-menu li{
    margin: 0 0 0 -40px;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 150px;
    background-color: rgb(26, 26, 26);
}

.slide-out-menu li:hover{
    background-color: rgb(151, 23, 23);
}

/********************************************************BOTTOM HEADER*********************************************************/
#bottom-header{
    width: 1030px;
    height: 200px;
    position: relative;
    top: 187px;
    background-color: black;
}

#placeholder-left{
    width: 400px;
    height: 180px;
    position: absolute;
    left: 10px;
    top:10px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#placeholder-left p{
    position: absolute;
    top: 5px;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
}

#placeholder-left a{
    position: absolute;
    bottom: 60px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

/************************************************************BOTTOM HEADER SOCIAL LINKS*************************************************/
#placeholder-right{
    height: 180px;
    width: 600px;
    background-color: aliceblue;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: fantasy;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    box-sizing: border-box;
    z-index: 1;
}

#placeholder-right p{
    position: absolute;
    top: -5px;
}

#placeholder-right .fa-github,
#placeholder-right img,
#placeholder-right .fa-telegram{
    color: black;
    font-size: 35px;
    padding-right: 30px;
}

#placeholder-right .fa-vk{
    color: black;
    font-size: 35px;
    padding-right: 26px;
}

#placeholder-right ul{
    position: absolute;
    bottom: 0px;
    list-style: none;
    justify-content: center;
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#placeholder-right ul li{
    font-size: 24px;
    padding-top: 12px;
    transform: 0.4s;
}

#placeholder-right ul li a{
    color: black;
    text-decoration: none;
}