body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

main{
    height: 550px;
    width: 100%;
    margin-top: 48px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-img{
    background-color: white;
    display: flex;
    justify-content: center;
}

#why-sana{
    width: 300px;
    font-size: 20px;
    position: absolute;
    right: 300px;
    top: 200px;
    background-color: rgb(151, 23, 23);
    color: white;
    text-align: center;
    line-height: 30px;
}

#arrow {
    position: absolute;
    right:210px;
    top: 230px;
    width: 100px;
    height: 120px;
    z-index: 100;
}
  
#curve {
    border: 2px solid #BE5F4B;
    border-color: transparent #BE5F4B transparent transparent;
    height: 120px;
    width: 100px;
    border-radius: 23% 77% 0% 100% / 30% 100% 0% 70%;
}
  
#point {
    position: absolute;
    left: 100px;
    top: 120px;
}
  
#point:before, #point:after {
    border: 1px solid #BE5F4B;
    height: 20px;
    content: "";
    position: absolute;
}
  
#point:before {
    top: -17px;
    left: -7px;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
  
#point:after {
    top: -20px;
    left: 7px;
    transform:rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform:rotate(20deg);
    -ms-transform: rotate(20deg);
}

#sana-video{
    position: absolute;
    right: 40px;
    top: 360px;
    width: 640px;
    height: 420px;
    background-color: black;
}

/*nav*/
nav{
    height: 48px;
    width: 100%;
    background: rgb(26, 26, 26);
    position: fixed;
    top: 0px;
    z-index: 100;
    margin: 0;
    font-family: fantasy;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

#logo-img img{
    height: 48px;
    padding-right: 50px;
}

#logo-img a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
    display: flex;
    cursor: pointer;
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 10px;
    cursor: default;
    display: flex;
    justify-content: center;
}

nav i{
    position: absolute;
    right: 4px;
}

#search{
    position: relative;
    display: flex;
    align-items: center;
    color:rgb(255, 255, 255);
}

#CVstuff,
#hobby{
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 150px;
    background-color: rgb(151, 23, 23);
    color:rgb(255, 255, 255);
}

#CVstuff{
    left: 590px
}

#hobby{
    left: 1180px
}

#search .fa-search{
    position: absolute;
    left: -27px;
    background-color: white;
    color:rgb(26, 26, 26);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    padding-left: 3px;
}

#search input{
    height: 22px;
    width: 100%;
    border: none;
}

#search input:focus{
    outline: none;
}

/*slide-out-menu*/
#work-menu{
    left:590px;
    display: none;
}

#hobby-menu{
    left:1180px;
    display: none;
}

.slide-out-menu{
    width: 150px;
    height: auto;
    position: fixed;
    top:32px;
}

.slide-out-menu a{
    width: 150px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.slide-out-menu ul{
    list-style: none;
    position:fixed;
    display: flex;
    flex-direction: column;
}

.slide-out-menu li{
    margin: 0 0 0 -40px;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 150px;
    background-color: rgb(26, 26, 26);
}

.slide-out-menu li:hover{
    background-color: rgb(151, 23, 23);
}

/*bottom header*/
#bottom-header{
    width: 1030px;
    height: 200px;
    background-color: black;
    position: relative;
    margin: auto;
    margin-top: 200px;
}

#placeholder-left{
    width: 400px;
    height: 180px;
    position: absolute;
    left: 10px;
    top:10px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#placeholder-left p{
    position: absolute;
    top: 5px;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
}

#placeholder-left a{
    position: absolute;
    bottom: 60px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

/*social links*/
#placeholder-right{
    height: 180px;
    width: 600px;
    background-color: aliceblue;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: fantasy;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    box-sizing: border-box;
    z-index: 1;
}

#placeholder-right p{
    position: absolute;
    top: -5px;
}

#placeholder-right .fa-github,
#placeholder-right img,
#placeholder-right .fa-telegram{
    color: black;
    font-size: 35px;
    padding-right: 30px;
}

#placeholder-right .fa-vk{
    color: black;
    font-size: 35px;
    padding-right: 26px;
}

#placeholder-right ul{
    position: absolute;
    bottom: 0px;
    list-style: none;
    justify-content: center;
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#placeholder-right ul li{
    font-size: 24px;
    padding-top: 12px;
    transform: 0.4s;
}

#placeholder-right ul li a{
    color: black;
    text-decoration: none;
}